a{
  color: #40514E;
  margin: 10px 5px;
  text-decoration: none;
}
a:hover{
  color: #cfdac8;
}
body{
  background-color: #ff7b54;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #40514E;
  font-size: 16px;

}

h1{
  font-family: 'Oswald', sans-serif;
  color: #cfdac8;
  font-size: 4.2rem;
  line-height: 0.5;
}
h2{
  color: #cfdac8;
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
}
h3{
  color:#40514E;

}

hr{
  border: dotted #40514E 20px;
  border-bottom: none;
  width: 10%;
  margin:100px auto;
}

p{
  color: #40514E;
  line-height: 2;
}

.name{
  position: fixed;
  margin-top: 10px;

}
.pro{
  position: fixed;
  margin: 75px 300px 12px 0;
  font-size: 1.7rem;
}

.circles{
width: 100%;
}

.intro{
  width: 30%;
  margin: auto;
  padding-top: 50px;
  text-align: justify;
}
.contact{
  width: 40%;
  margin: 40px auto 60px;
}
.top-container{
  background-color: #ff7b54;
  position: relative;
}


.middle-container{
  background-color: #ffb26b;
  /* padding: 30px; */
  padding: 100px 0;
}
.bottom-container{
  background-color: #ffd56b;
  padding: 50px 0 20px;


}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.profile-image{
  width: 25%;
  padding-bottom: 20px;
}
.computer-image{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.code-image{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-me{
  line-height: 2;
}

.btn {
  background: #7e9e98;
  background-image: -webkit-linear-gradient(top, #7e9e98, #40514E);
  background-image: -moz-linear-gradient(top, #7e9e98, #40514E);
  background-image: -ms-linear-gradient(top, #7e9e98, #40514E);
  background-image: -o-linear-gradient(top, #7e9e98, #40514E);
  background-image: linear-gradient(to bottom, #7e9e98, #40514E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #edf0ef;
  background-image: -webkit-linear-gradient(top, #edf0ef, #363c40);
  background-image: -moz-linear-gradient(top, #edf0ef, #363c40);
  background-image: -ms-linear-gradient(top, #edf0ef, #363c40);
  background-image: -o-linear-gradient(top, #edf0ef, #363c40);
  background-image: linear-gradient(to bottom, #edf0ef, #363c40);
  text-decoration: none;
}

.copyright{
  color: #7c9473;
  font-size: .7rem;
}
